*{
    margin: 0;
    padding: 0;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    }
.hero{
    height: ;
    width: 100%;
}
.hero-container img{
    width:95%;
}
